.loaderWrapper {
    width: 100vw;
    height: calc(100vh - 5rem);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.loader {
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}