.myCartWrapper .leftPart .leftImagePart {
    width: 100%;
    height: 100%;
    background-color: #cac7c7;
}

.myCartWrapper .leftPart .leftImagePart img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.leftPart .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftPart .quantity .quantityButton {
    padding: 0.25rem 1.2rem;
    transition: all 300ms ease-in-out;
}

.leftPart .quantity .quantityButton:disabled {
    background-color: grey;
}

.leftPart .quantity .quantityButton:hover {
    padding: 0.25rem 1.2rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.leftPart .quantity .quantityButton:disabled:hover {
    cursor: not-allowed;
}

.leftPart .quantity .quantityButtonMinus {
    background-color: orangered;
    border: 2px solid white;
    font-size: 30px;
    margin: 0 1.5rem;
}

.leftPart .quantity .quantityButtonMinus:hover {
    background-color: white;
    border: 2px solid orangered;
    color: orangered;
}

.leftPart .quantity .quantityButtonPlus {
    background-color: green;
    border: 2px solid white;
    font-size: 30px;
    margin: 0 0.25rem 0 1.5rem;
}

.leftPart .quantity .quantityButtonPlus:hover {
    background-color: white;
    border: 2px solid green;
    color: green;
}

.myCartWrapper .rightPart .myCartProductTitle {
    font-size: 32px;
    margin: 0 0 1rem 0;
    cursor: pointer;
    display: inline-block !important;
}

.myCartWrapper .rightPart>p {
    margin: 0 0 1rem 0;
}

.myCartWrapper .rightPart .myCartRating span,
.myCartWrapper .rightPart svg {
    color: white;
}

.myCartWrapper .rightPart svg {
    margin-left: 0.3rem;
    font-size: 20px;
}

.myCartWrapper .rightPart .myCartRating {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background-color: green;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.rightPart .pricer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightPart .originalAmount {
    font-size: 20px;
    text-decoration: line-through;
    margin-right: 0.8rem;
    color: grey;
    font-weight: 500;
}

.rightPart .discountedAmount {
    font-size: 20px;
    margin-right: 0.8rem;
    font-weight: 500;
}

.rightPart .discountPercentage {
    font-size: 20px;
    color: green;
    font-weight: 500;
}