.productWrapper {
    margin: 0rem auto;
    width: 80%;
}

.mainProductParentWrapper {
    display: flex;
    flex-direction: column;
}

.swiper {
    height: 25rem;
    background-color: #cac7c7;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: grey;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swipperWrapper {
    width: 100% !important;
    height: 30% !important;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.productDetails .ratingParagraph {
    margin: 0.4rem 0;
}

.productDetails>h1 {
    margin-bottom: 0rem;
}

.productDetails>div>h3 {
    margin: 0rem;
    font-size: 30px;
    font-weight: 600;
}

.productDetails>div>.productPrice {
    margin: 0rem;
    font-size: 17px;
    margin-left: 0.5rem;
    color: grey;
    text-decoration: line-through;
}

.productDetails>div>.pricePercentageOff {
    font-size: 17px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: orangered;
    font-weight: 600;
}

.productDetails .questionMarkIcon {
    font-size: 1.2rem;
    margin-bottom: -0.25rem;
}

.productTable {
    margin: 1rem 0rem;
}

.productTable .additionalInfo {
    font-size: 25px;
    font-weight: 600;
}

.productTable .productInfoTitle {
    font-weight: 600;
    width: 15rem;
}

@media only screen and (max-width:500px) and (min-width:0) {
    .productTable .productInfoTitle {
        width: 35%;
    }

    .productWrapper {
        width: 90%;
    }

    .productDetails .ratingParagraph {
        margin: 0.4rem 0;
    }
}