.footerWrapper {
    height: 50px;
    background-color: black;
}

.footerFlexer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footerText>h3 {
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 0 1rem;
    font-size: 15px;
}

@media only screen and (max-width:700px) and (min-width:0px) {
    .footerFlexer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .footerWrapper {
        height: 80px;
    }

    .footerText>h3 {
        margin: 0.3rem 0 !important;
    }
}